@import "styles.css";

.nav-link__bio a {
  color: white;
}

body {
  background-color: var(--lightest-red);
  border: var(--red) solid 3rem;
}

.cloud li:nth-child(3n+1) {
  --color: var(--grey);
}

.cloud li:nth-child(4n+1) {
  --color: var(--mustard);
}

.cloud li:nth-child(5n+1) {
  --color: var(--dark-blue);
}
